name: zware tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  source-code-tests:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
      - uses: goto-bus-stop/setup-zig@v1
        with:
          version: master
      - run: zig build test
  testsuite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: goto-bus-stop/setup-zig@v1
        with:
          version: master
      - name: Build test runner
        working-directory: ./test/testrunner
        run: zig build --prefix ./
      - name: Run testsuite
        working-directory: ./test/
        run: bash test/run-generated.sh
  parsecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: goto-bus-stop/setup-zig@v1
        with:
          version: master
      - name: Build parsecheck
        working-directory: ./test/parsecheck
        run: zig build --prefix ./
      - name: Run parse check
        run: test/parsecheck/bin/parsecheck test/testsuite-generated
  build_interface:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: goto-bus-stop/setup-zig@v1
        with:
          version: master
      - name: Build interface
        working-directory: ./test/interface
        run: zig build
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: goto-bus-stop/setup-zig@v1
        with:
          version: master
      - run: zig fmt --check src/*.zig
